content_version=1
user_uuid="b6d73de7-ec12-4e1a-be74-1bf255c27b8d"
bucket_name="fjcevooh7be01e96cqojfrgmq3387ab4"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"