terratowns_endpoint="https://terratowns.cloud/api"
pancake = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/pancake"
  content_version = 1 
}
jollof = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/jollof"
  content_version = 1 
}